
#home-hero-top { display: grid;z-index: 99;grid-template-columns:repeat(5, 1fr);position: relative;}
.cta-section{text-align:center;}
.cta-section h3{color:$darkGreyColor; font-size: 2em;}
.cta-section h4{color:$darkGreyColor; font-size:1.25em; font-weight: 400;}
h5.cta-button {color:$whiteColor;background:$hubRedColor;width: auto;display:inline-block; padding:.5em 1em; margin:1em 0;
-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;
}
h5.cta-button a{color:$whiteColor;}
h5.cta-button:hover {color:$whiteColor;background:$hubRedColor;width: auto;display:inline-block; padding:.75em 1.25em; margin:.75em 0;
	transition:all .25s ease-in-out 0s;}

h5.top-cta-button {font-size:1.5em;position: absolute; left: 50%;transform: translateX(-50%);bottom:1em;}
h5.top-cta-button a {  color: $whiteColor;background: $hubRedColor;  padding: 1em 1.5em;margin: .75em .25em; -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px; transition: all .25s ease-in-out 0s;font-weight:400; }
h5.top-cta-button a:hover {color: #ffffff;background: $hubRedColor;padding: 1.25em 1.75em;margin: .75em 0;transition: all .25s ease-in-out 0s; }

.home-hero-content{display: grid; grid-column: 2 / 5;grid-row-start: 1; align-content: start;margin:10% 1em 0 1em;background-color: rgba($whiteColor, .75);
padding:2.5% 4em 0 4em;position:relative;position: absolute;bottom:0;}
.home-hero-text-section{padding-bottom:5.5em;}
#home-hero-top img{width: 100%;display: grid; grid-column: 1 / 6;grid-row-start: 1; align-content: start;} 
.home-hero-content h1{color:$regimentGreyColor; font-size:3.25em;font-family:$oswaldFont;margin:0;font-weight: 600;}
.home-hero-content h2{color:$regimentGreyColor; font-size:1.5em;font-family:$robotoCondensedFont;line-height: 1.1em; font-weight: 400;}
.home-hero-content p{color:$regimentGreyColor; font-size:1.25em;font-family:$robotoCondensedFont; font-weight: 400;margin-bottom:.5em;}


@media (max-width:1600px){ 

.home-hero-content p:first-of-type{margin-top:.75em;}
}

@media (max-width:1200px){ 

.home-hero-content h1{ font-size:2.75em;}
.home-hero-content h2{font-size:1.25em;}
.home-hero-content p{font-size:1em;}
.home-hero-content p:first-of-type{margin-top:.75em;}
	}	

@media (max-width:1000px){ 



}	

@media (max-width:900px){ 
.home-hero-content h1{ font-size:1.75em;}
.home-hero-content h2{font-size:1em;}
.home-hero-content p{font-size:.85em;}
}

@media (max-width:825px){ 
.home-hero-text-section{padding-bottom:3.5em;}	
 .home-hero-content {margin: 1em 2em 0 2em;grid-column: 1 / 6;padding: 1.5em 3em 3em 3em;width: calc(100% - 6em);text-align: center;}
.home-hero-content h1{ font-size:2em;}
.home-hero-content h2{font-size:1em;}	
.home-hero-content p {display:none; color:transparent;font-size:0px;padding-bottom:2em;}	
h5.top-cta-button {font-size:1.25em;}
}	

@media (max-width:600px){ 
.home-hero-text-section{padding-bottom:2.5em;}		
h5.top-cta-button {font-size:1em;}	
.home-hero-text-section{padding-bottom:2em;}
h5.cta-button {color:$whiteColor;background:$hubRedColor;width: auto;display:inline-block; padding:.5em 1em; margin:1em 0;
-webkit-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;
}	
}
@media (max-width:500px){ 
.home-hero-text-section{padding-bottom:1.5em;}			
h5.top-cta-button {font-size: 1em;position: absolute;left: 0;transform: translateX(0);bottom: 1em;width: 100%;}
.home-hero-content h2 {font-size: .75em;}
.home-hero-content h1{text-align:center;font-size:1.5em;}	
.home-hero-content {margin: 0 2em;grid-column: 1 / 6; padding: 1em 2em 3em 2em;width: calc(100% - 6em);text-align: center;}
}		

@media (max-width:400px){ 
.home-hero-content {margin: 1em 1em 0 1em;grid-column: 1 / 7;padding: 1.5em 1em 3em 1em;width: calc(100% - 2em);text-align: center;}
.home-hero-text-section{padding-bottom:.25em;}	
.home-hero-content h1{text-align:center;font-size:1.25em;}	
h5.top-cta-button {font-size: .75em;position: absolute;left: 0;transform: translateX(0);bottom: 1em;width: 100%;}
h5.top-cta-button a {padding: .75em 1em;}
  }
@media (max-width:325px){ 
.home-hero-content{position: relative;}	
.home-hero-text-section{padding-bottom:0;}		
.home-hero-content h1{font-size:0em;visibility:collapse;color:transparent;}
h5.top-cta-button {font-size: .5em;position: absolute;left: 0;transform: translateX(0);bottom: 1em;width: 100%;}
}  