 /*--- see: https://codepen.io/bluehaus/pen/EfGyi ---*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
 /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;
/*---nsets the default duration ---*/
  -webkit-animation-duration:1s; -moz-animation-duration:1s; animation-duration:1s;}
.fade-in.quarter {-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s; }  
.fade-in.half {-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s; }
.fade-in.full {-webkit-animation-delay: 1.25s; -moz-animation-delay: 1.25s; animation-delay: 1.25s;}


 /* Style the buttons that are used to open and close the accordion panel */
.accordion {cursor: pointer;padding: 1em 2em;width: 100%;text-align: left;border: none;outline: none;transition: 0.4s;-webkit-border-radius: 10px;
border-radius: 10px;}
button.accordion {-webkit-box-shadow: 0 0 0 0 transparent;box-shadow: 0 0 0 0 transparent;text-shadow: 0 0 0 transparent;}
.accordion:hover{text-decoration: underline;}
.accordion:after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content:"\f0d7"; font-size:1.5em;
    float: right;
}
.accordion.active:after {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content:"\f0de"; font-size:1.5em;
    float: right;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 1em 2em;
  background-color: white;
  display: none;
  overflow: hidden;
  transition: max-height 0.9s ease-out;
} 