/*---- BIO STYLES ---*/
.linkedin{font-size:1.25em; margin-left:.25em;}
.left-image{float:left; width:25%;}
.left-image img{width:80%; margin-right:20%;}
.right-content{float:right; width:75%; margin-top:1em;}
.left-image-flipped{float:right; width:25%;}
.right-content-flipped{float:left; width:70%;}
.right-content h4, .right-content-flipped h4{padding-bottom:.5em;}
.bio-container{clear:both; padding:1em 1em 1em 0;background:transparent;}
.bio-container h3,.bio-container h4 {padding:0;color: #4e4f51;font-weight: 600;}
.bio-container p{ }
.bio-social{ margin:0; }
.bio-social-text{padding:0;font-size: 1em;}
.bio-social-icons{font-size:1.5em;}
ul.bio-social-icons{margin:0!important;}
.bio-social-icons li{float:left;list-style: none; padding:0 .75em 0 0;}

@media screen and (max-width: 700px) {
.left-image, .left-image-flipped{float:left; width:60%;margin:0 20% 1em 20%;}
.right-content, .right-content-flipped{float:left; width:100%;}
}
@media screen and (max-width:450px) {
.bio-container .right-content {margin: 0;}	
.bio-container p{ visibility: collapse;font-size: 0;color:transparent;}
.bio-container h3, .bio-container h4 {text-align: center;}
}