/*-- footer region  --*/
#colophon .site-footer{background:$hubRedColor;color:$whiteColor;}
#foot-constraint .left-side .widget {border: none;display: inline;}
#foot-constraint .right-side, #foot-constraint .left-side{padding-top:0;}
.icon-text{display:block;font-family: $futuraFont;font-size:13px;}
.icon-text.attribution{font-family: $defaultFont; font-size:.6em; opacity: .5;font-style: italic;}
#colophon.site-footer {padding-top:.5em; }
.footer-menu{text-align: center;}
.footer-menu ul{list-style: none;margin:0;}
.footer-menu li{display:inline-block;  padding:0 1.5em; font-size:.75em;}
.footer-menu li a{text-decoration:none!important;opacity:.8;}
.footer-menu li a:hover{text-decoration:underline!important;}
.footer-section{float:left;width:33%}
.site-footer, .site-info{clear:both}
.site-info{ text-align:right}
.site-info p{font-size:.75em;margin:1em 2em}
#foot-constraint{width:100%;max-width:1200px;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0; padding:0;color:$whiteColor;}
#colophon.site-footer{border-top:none; }
#colophon.site-footer a{color:$whiteColor;text-decoration:none}
#colophon.site-footer a:hover{text-decoration:underline}
#colophon.site-footer h4.widgettitle, #colophon.site-footer h1.widget-title, #colophon.site-footer h1{color:$whiteColor;font-weight:normal;font-size:1.1em;margin-right:1em}

.home-foot-terms-widget{clear:both;font-family: $defaultFont; font-size:.6em; opacity: .5;}
.home-foot-terms-widget aside { padding-top:3em; border: 0px none transparent!important;border-top:1px solid $whiteColor!important;}
/*--- SOCIAL ICONS ---*/
ul.foot-social-icons{list-style: none; float:right;margin:0 0 1em 0;}
ul.foot-social-icons li{float: left; padding:0 .5em;}
/*--- RESPONSIVE ---*/
@media screen and (max-width:725px){ 
#foot-constraint .left-side{text-align:left;}
#foot-constraint .right-side{text-align:right;}
#foot-constraint .left-side{float:left;width:20%}
#foot-constraint .right-side{float:right;width:78%}
}

@media screen and (max-width:600px){ 
#foot-constraint .left-side{float:left;width:98%!important; padding-left:1%;}
#foot-constraint .right-side{float:right;width:98%!important;padding-right:1%;}
	}