.navigation-underline{border-bottom:solid 1px #ed1d24; width:calc(100% - 120px); position:relative; top:4.75em;float:right;}

/*--header region typography--*/
.site-branding h1.site-title{font-size:1.5em;display:inline-block;/*text-transform:uppercase;*/font-family:$titleFont;margin:.25em 0 0 0;font-weight:normal;}
.site-branding h1.site-title a{text-decoration:none;font-weight:normal;color:$whiteColor}
.site-branding h2.mastehead-info{font-size:1em;display:inline-block;font-style:italic;margin-left:.5em;font-family:$titleFont;color:$darkBlueColor}
h2.masthead-info{color:$whiteColor; margin-left:0;font-family:$titleFont;font-size:.85em;margin-top:.5em; letter-spacing: .05em;}


/*--header region --*/
#full-top{ width:100%; position:static; z-index:999;
background-color:$whiteColor;}
#upper-band{ width:100%; z-index:1; height:10rem;overflow-y:hidden;}
#upper-band img{width:100%; min-height:100%;}
.masthead-holder{ width:100%;  max-width:1200px;margin:0 auto;top:0;background:transparent;  padding:0em; /*height:200px;*/}
#masthead{ max-width:1200px;background-color:transparent;padding-top:0; /*top:2em;*/ color:$blackColor;position:absolute;z-index:999;}
#masthead .site-branding{margin:0}
.site-header{ width:100%;z-index:999;color:#000}


#left-head-1{float:left;width:360px}


#right-head{float:right;    width: calc(100% - 365px);}

#right-head .navigation-section{width:100%;margin-top:2em;}
#right-head .social{float:right;width:125px;margin-top:-2.75em;}

#right-head .social .icon-text{font-size:1.25em; margin-right:1.5em;font-family:$titleFont;display:inline;line-height:3em;}
ul.top-social-icons{padding:.75em 0 0 0;margin:0;float:right;}
#right-head .top-social-icons li{list-style:none;float:left;margin-right:.25em;font-size:2em;}



#right-head .social a{color:$whiteColor;}
#right-head .social a:hover{color:$lightBlueColor;text-decoration:none;}

@media (max-width:1100px){ 
.navigation-underline{border-bottom:solid 1px #ed1d24; width:calc(100% - 85px); position:relative; top:3.25em;float:right;}	
#left-head-1{float:left;width:250px}
#right-head{float:right;    width: calc(100% - 255px);}
#upper-band {height: 7rem;}
#right-head .navigation-section{margin-top:.5em;}
}	
@media (max-width:975px){ 
#right-head .navigation-section{margin-top:1em;}
}
@media (max-width:900px){ 
.masthead-holder{    width:100%;      margin:0 ;     top:0;    padding:0;}		
.site-branding h1.site-title, h2.masthead-info{display:inline;}	
 h2.masthead-info {padding-left: 2em;}

}

@media (max-width:825px){  
.navigation-underline{border-bottom:solid 1px #ed1d24; width:calc(100% - 45px); position:relative; top:1.65em;float:right;}		
#left-head-1{float:left;width:125px}	
#right-head{float:right;    width: calc(100% - 130px);}
#right-head .navigation-section {width: 75%;margin-top: 0;}
.site-branding h1.site-title {font-size: 1.25em;}	
h2.masthead-info {font-size: 1em; padding-right:2em;}

#upper-band {height: 4rem;}
}

@media screen and (max-width:725px){ 
.navigation-underline{border-bottom:solid 1px #ed1d24; width:calc(100% - 60px); position:relative; top:3.35em;float:right;}		 
#full-top {top: 1.75em;}
#left-head-1 {float: left;width: 180px;padding-top:1em;}

#right-head{width: calc(100% - 200px); padding-left:0;}

#right-head .social {margin-left:.5em;}	

#right-head .social .icon-text {display: block;}
.site-branding h1.site-title {font-size: 1.25em;display: block;position: relative; }
h2.masthead-info {font-size: 1em;padding: 0; margin:0;}
#right-head .social .icon-text {margin: 0;padding:0;}

ul.top-social-icons {float: left;}
#full-top{  width:100%; position:relative; z-index:999;
/*background-color:$darkBrownColor; background-image:url(./images/mesaland.jpg);  background-repeat:no-repeat;  background-position:center top; */}
.main-navigation {clear: both; display: block; float: right; width: 100%; height: 2em; position: fixed; top: 0; left:0;background:$blackColor;}
#upper-band {height: 7rem;}
#right-head .social {margin-top: 0; width: auto;}
#right-head .social .icon-text {display: block;padding-bottom: .25em;}

}

@media (max-width:625px){ 

#right-head{width: calc(100% - 160px);}
#masthead {right: 0;}
}



@media (max-width:500px){ 

h2.masthead-info {margin-left: .5em;font-size: 1em;visibility: collapse;font-size: 0;}	

}

@media (max-width:450px){ 

.site-branding h1.site-title {font-size: 1.5em; z-index: 0;padding-top:0;}	


}

@media (max-width:400px){ 

.masthead-holder { padding: 0 .5em;}

}

@media (max-width:350px){ 
.site-branding h1.site-title {font-size: 1.2em;}
	
}